@import "../header/mixin.scss";
@import "../header/variables.scss";
.main-tab{
    margin: 24px;
    border-radius: 2px;
}
form{
    box-shadow: 0px 4px 6px $box-shadow-color;
    padding:24px;
    background-color: $light-White;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form>div{
    grid-column: 1/span 1;
    color: $lable-color ;
    text-transform: capitalize;
    font-size: calc(7.69px + 0.390625vw);
    margin-bottom:40px;
}
input{
    width:100%;
    border: none;
    border-bottom: 1px solid $lable-color;
    line-height: 25px;
    color: #222222;
    font-weight: 600;
    font-size: calc(11.69px + 0.390625vw);
}
select{
    height:calc(23.69px + 0.390625vw);
    width: 100%;
    border: none;
    border-bottom: 1px solid $lable-color;
}
form div input{
    display: block;
}
.subjects-box div input{
    width: calc(13.69px + 0.390625vw);
    height:calc(19.69px + 0.390625vw);
    margin-right: 9px;
}
.subjects-box div{
    @include flex(start,center,default);
    margin-bottom:20px ;
}
.subjects-box div:last-child{
    margin-bottom: 0;
}
.subjects-box{
    @include flex(default,default,column);
    font-weight: 600;
    font-size: calc(11.69px + 0.390625vw);
    accent-color: $light-green;
    margin-top:18px;
}
form div:nth-child(4),form div:nth-child(6){
    margin-bottom: 18px;
}
form div:nth-child(9)
{
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form div:nth-child(9) div:nth-child(1){
    grid-column: 1/span 1;
}
form div:nth-child(9) div:nth-child(2){
    grid-column: 2/span 1;
    padding-left:24px ;
}
.worked-option-box{
    font-weight: 600;
    font-size: calc(11.69px + 0.390625vw);
    accent-color: $light-green;
    display: flex;
}
.worked-option-box div{
    @include flex(start,start,default);
    margin-right: 24px;
}
.worked-option-box input{
    width: calc(13.69px + 0.390625vw);
    height: calc(19.69px + 0.390625vw);
}
.worked-option-box label{
    color: $black-font;
    font-size:calc(11.69px + 0.390625vw) ;
    margin-left: 9px;
    font-weight: 600;
}
.button-tab{
    width: 100%;
    @include flex(center,center,default);
    margin-top: 32px;
}
@include button(5px 16px);

form div:last-child{
    margin-bottom: 0;
}
.button-tab button:nth-child(1){
    margin-right: 16px;
}
@media (max-width:550px){
    form div{
        grid-column: 1/span 2;
    }
    form div:nth-child(9) div:nth-child(2){
        grid-column: 1/span 1;
        padding: 0;
    }
    form div:nth-child(9) div:nth-child(1){
        grid-column: 1/span 1;
        margin-bottom: 18px;
    }
}