@import "../header/mixin.scss";
@import "../header/variables.scss";
.main-tab{
    margin: 2%;
}
.card-tab{
    background-color: $light-White;
    padding: 1.52%;
    margin-bottom: 0;
    box-shadow: 0px 4px 6px $box-shadow-color;
}
.card-tab> div{
    margin-bottom:1.59%;
}
.card-tab> div:last-child{
    margin-bottom:0;
}
label{
    color: $lable-color;
    font-size: calc(7.69px + 0.390625vw);;
}
p{
    color: $black-font;
    font-weight: 600;
    font-size: calc(11.69px + 0.390625vw);
}
.card-tab-header{
    @include flex(space-between,center,default);
}
.card-second-tab{
    @include flex(start,default,default);
    // height: 3.5%;
}
.card-second-tab div:nth-child(2){
    @include flex(start,end,default);
    padding-left: 10px;
    img{
        width: calc(13.69px + 0.390625vw);
        height:calc(15.69px + 0.390625vw);
    }
}
.card-second-tab div:nth-child(1)
{
    @include flex(space-between,start,column);
    width: auto;
}
.card-second-tab div:nth-child(1) p{
    padding-right: 10px;
    border-right: 1px solid $hr-color;
    
}
.card-lower-tab > div{
        @include flex(default,default,default);
        div p{
            display: inline;
        }
        div{
            margin: 1.72%;
            @include flex(default,center,default);
        }

}
.card-lower-tab  div div img{
    margin-right: 16px;
    border-radius: 50%;
    border: 1px solid $black-font;
}
.card-lower-tab div div {
    margin-left:0; 
}
.card-lower-tab div div p{
    color: $light-green;
    font-size: calc(9.69px + 0.390625vw);
    padding-right:10px;
    border-right: 1px solid $hr-color;
}
.card-lower-tab div div:last-child p{
    border: none;
}
@include button( 5px 16px);


.Pre-requisites-head-tab{
    background-color: $header-tag-color;
    box-shadow: 0px 4px 6px $box-shadow-color;
    height: 40px;
    @include flex(space-between,center,default);
    margin-top: 0;
    padding:0 1.53%;
    div{
        border-left:1px solid $hr-color;
        padding-left: 10px;
    }
    img{
        width: calc(10.69px + 0.390625vw);
        height: calc(19.69px + 0.390625vw);
        transform: rotate(0deg);
        transition: 0.5s transform;
    }
}
.card-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  3fr 1px 4fr 1px 1fr;
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    margin-top: 2%;
    padding: 1.52%;
    padding-bottom: 0;
    label{
        color: $lable-color;
        font-size: calc(7.31px + 0.390625vw);;
    }
    h3{
        grid-row: 1/ span 1;
        color: $black-font;
        line-height: 20px;
    }
    hr{
        width: 100%;
        height: 1px;
        grid-column: 1 /span 2;
        grid-row: 3/span 1;
        border: none;
        border-bottom:1px solid $hr-color;
    }
    .second-hr{
        grid-row: 5/span 1;
    }
    .preferences-box{
        grid-row: 4/span 1;
        grid-column: 1 /span 1;
        padding-bottom: 18px;
        div{
            @include flex(default,center,default);
            margin-top: 20px;
            input{
                margin-right:8px;
                width: 20px;
                height: 24px;
                accent-color: $light-green;
            }
            label{
                font-weight: 600;
                color: $black-font;
                font-size: calc(11.69px + 0.390625vw);;
            }
        }
    }
    .time-date-box{
        grid-row: 2/span 1;
        grid-column: 1 /span 1;
        padding-bottom: 18px;
        div{
            @include flex(default,center,default);
            margin-top: 20px;
            input{
                margin-right:8px;
                width: 20px;
                height: 24px;
                accent-color: $light-green;
            }
            label{
                font-weight: 600;
                color: $black-font;
                font-size:calc(11.69px + 0.390625vw);
            }
        }
    }
    .upload-box{
        grid-column: 1/span 2;
        grid-row: 6 /span 1;
        @include flex(space-between,center,default);
        div{
            @include flex(start,center,default);
            img{
                margin-right: 8px;
            }
            p{
                color: $light-green;
            }
            input{
                display: none;
            }
        }
        button{
            position: fixed;
            bottom: 20px;
            right: 24px;
            border-radius: 50%;
            height: calc(27.69px + 0.390625vw);
            width: calc(27.69px + 0.390625vw);
            @include flex(center,default,default);
            img{
                height: calc(15.69px + 0.390625vw);
                width: calc(15.69px + 0.390625vw);
            }
        }
    }
}
.preferences-box > label{
    margin-top: 18px;

}
.prerequisite-details-tab{
    background-color:$light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    padding: 24px;
    @include flex(start,start,column);
    padding-top:0px;
    display: none;
   
    div div{
        @include flex(start,default,default);
    }
    li,p{
        color: $black-font;
        font-size: calc(9.69px + 0.390625vw);;
        font-weight: 600;
    }
   li{
    margin-top: 5px;
   }
    label{
        color: $lable-color;
        font-size: calc(7.69px + 0.390625vw);;
    }
    @include ul;
    
}
.prerequisite-details-tab > div{
    padding-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid  $hr-color;
    padding-top:16px ;
}
.prerequisite-details-tab > div:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.prerequisite-details-tab div:nth-child(1)
{
    div{
        margin-top: 8px;
    }
}
.process-details-tab{
    @include flex(space-around,start,column);
    div{
        @include flex(start,start,column);
        margin-top:16px;
        margin-bottom: 16px;
    }
    
}

@media (max-width:470px){
    .card-tab-header{
        button{
            width: 100%;
            position: fixed;
            bottom:0;
            
        }
    }
    .card-lower-tab > div{
        @include flex(start,start,column);
    }
    .card-lower-tab div div p{
        border: none;
    }
}
