<app-header [display]="dp"></app-header>
<div class="main-tab" *ngIf="jobData != undefined" >
  <div class="card-tab" #mainTab>
    <div class="card-tab-header">
      <h2>{{jobData.result1[id].jobTitle}}</h2>
      <button (click)="getData()" [disabled]="timeSlot.invalid">APPLY</button>
    </div>


    <div class="card-second-tab">
      <div>
        <label>Date & Time :</label>
        <p>{{jobData.result1[id].date}}</p>
      </div>

      <div>
        <img
          src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/location_on_black_24dp.svg"
          alt=""
        />
        <p>{{jobData.result1[id].location}}</p>
      </div>

    </div>


    <div class="card-lower-tab">
      <label> Job Roles : </label>
      <div>
        <div *ngFor="let item of jobData.result2[id+1]" >
          <img
            src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/Instructional Designer.svg"
            alt=""
          />
          <p>{{item}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="Pre-requisites-head-tab">
    <h3>Pre-requisites & Application Process</h3>
    <div>
      <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/drop-down.png" #dropDown (click)="showtermFunc()" alt="">
    </div>
  </div>


  <div #preReqTab class="prerequisite-details-tab">
      <div class="general-instruction-tab">
          <label>General Instructions :</label>
          <div>
             <ul class="dashed">
              <li *ngFor="let item of instructions">{{item}}</li>
              <!-- <li> Candidates who have appeared for any test held by Zeus Learning in the past 12 months will not be allowed to appear for this recruitment test.</li> -->
             </ul>
          </div>
      </div>
      
      <div  class="instruction-for-exam-tab">
          <label>Instructions for the Exam :</label>
          <ul class="dashed">
              <li *ngFor="let item of instructionsForExam">{{item}}</li>
          </ul>
      </div>
      
      <div class="min-system-req-tab">
          <label>Minimum System Requirements :</label>
          <ul class="dashed">
              <li *ngFor="let item of MinSystemRequirement">{{item}}</li>
              
          </ul>
      </div>

      <div class="proces-tab">
        <label>Process :</label>
        <ul class="dashed">
            <li *ngFor="let item of processInfo">{{item}}</li>
        </ul>
        <!-- <div class="process-details-tab">
          <div>
            <p>Round I : 4th August, 2018</p>
            <p>Aptitude Test : 25 Questions</p>
          </div>
          
          <p>Round II (Interview) : 4th August, 2018.</p>
        </div> -->
    </div>
  </div>

    <form  class="card-details"  #cardForm="ngForm" >
      <h3>Time Slots & Preferences</h3>
      <div class="time-date-box">
        <label>Select a Time Slot :</label>
        <div *ngFor="let item of timeSlot.result1"><input type="radio" name="timeSlot" [(ngModel)]="form_data.timing" #timeSlot="ngModel" required value="{{item.timeSlotId}}"><label for="timeSlot">{{item.timeSlot}}</label></div>
          </div>
      <hr class="first-hr"/>
      <div class="preferences-box">
        <label >Select Your Preference :</label>
        <div *ngFor="let item of checkBoxes">
          <input type="checkbox" ngModel name="subject"  [(ngModel)]="item.selected"  ><label for="">{{item.name}}</label>
        </div>
      </div>
      <hr class="second-hr" />
      <div class="upload-box">
        <div>
          <label for="file-input"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/Upload_black_24dp.svg" alt="">
          <input type="file" [(ngModel)]="form_data.resume"  name="file-upload" id="file-input">
        </label>
        <p>Upload Updated Resume</p>
        </div>
        <button id="top-btn" (click)="scrollTop()"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/arrow_upward_black_24dp.svg" alt=""></button>
      </div>
    </form>
  </div>
<div *ngIf="jobNames != undefined">
  <app-job-details [id]="id" [JobName]="role" *ngFor="let role of jobNames;let i=index"></app-job-details>
</div>
 


