<app-header [display]="dp"></app-header>
<div class="main-tab">
        <div >
            <div class="upper-tab">
                <h2>Walk In for Designer Job Role</h2>
                <div>
                    <div>
                        <label>Date & Time :</label>
                        <p>10-Jul-2021 to 11-Jul-2021</p>
                    </div>
                    <div>
                        <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/location_on_black_24dp.svg" alt="location">
                        <p>Mumbai</p>
                    </div>
                </div>
            </div>
            
            <div class="lower-tab">
                <div>
                    <label>Job Roles :</label>
                    <div class="jobs-tab">
                        <div>
                            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/Instructional Designer.svg" alt="">
                            <p>Instructional Designer</p>
                        </div>
                        <div>
                            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/Instructional Designer.svg" alt="">
                            <p>Instructional Designer</p>
                        </div>
                    </div>
                </div>
                <div class="notification-tab">
                    <p>notification</p>
                </div>
            </div>
                <div class="button-tab">
                    <button (click)="expandData()">VIEW MORE DETAILS</button>
                </div>
            </div>
        </div>  
        
        