@import "../header/mixin.scss";
@import "../header/variables.scss";
.main-tab{
    font-family: Quicksand;
    margin-top: 35px;
}
.main-tab > div{
    background-color:$light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    margin: 24px;
    display: grid;
    // height: 244px;
    grid-template-rows: 1fr 1fr;
    h2{
        color: $light-green;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    label{
        font-size: 12px;
        color: $lable-color;
    }
    p{
        color: $black-font;
        font-size: 14px;
        font-weight: 600;
    }
}
.upper-tab,.lower-tab{
    grid-row: 1 /span 1;
    margin: 16px;
}
.upper-tab{
    border-bottom:1px solid $hr-color;
    padding-bottom:20px ;
}
.upper-tab > div
{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.upper-tab > div div:nth-child(2)
{
    @include flex(default,end,default);
    padding-left:36px;
    border-left:1px solid $hr-color;
    img{
        height:20px ;
        width: 12px;
    }
}
.lower-tab{
    grid-row: 2 /span 1;
}
.jobs-tab{
    @include flex(start,center,default);    
}
.jobs-tab div{
    @include flex(default,default,default);
    margin-top:11px;
    margin-right: 17px;
    img{
        margin-right: 8px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
    }
}
.button-tab{
    width: 100%;
    @include flex(center,center,default);
    margin-bottom: 16px;
}
@include button(5px 16px);
