<app-header [display]="dp"></app-header>
<div class="main-tab" *ngIf="HallTicketData != undefined">
    <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/check_black_24dp.svg" alt="">
        <div class="header-tab">
            <h2>Congratulations ! You have successfully applied for the walk-in opportunity</h2>
        </div>


        <div class="date-time-tab">
            <label>Date & Time of Walk-In :</label>
            <ul>
                <li>03rd July 2021</li>
                <li>{{HallTicketData}}</li>
            </ul>
        </div>


        <div>
            <label>Venue of Walk-In :</label>
              
            <ul>
                <li>Zeus Systems Pvt. Ltd. 1402</li>
                <li>14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg</li>
                <li>Lower Parel (W)</li>
                <li>Mumbai - 400 013</li>
                <li>Phone: +91-22-66600000</li>
            </ul>
        </div>


        <div>
                <label>THINGS TO REMEMBER :</label>
                <ul class="dashed">
                    <li>Please report 30 MINUTES prior to your reporting time.</li>
                    <li>Download your Hall Ticket from below and carry it with you during your Walk-In.</li>
                </ul>
        </div>

        <div class="button-tab">
            <button (click)="printPage()">DOWNLOAD HALL TICKET</button>
        </div>
</div>