.footer {
  display: flex;
  justify-content: default;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
}

.upper-footer {
  font: normal normal medium 14px/18px;
  text-align: center;
  margin-bottom: 10px;
  color: #1F7A54;
}
.upper-footer p {
  display: inline;
  margin-right: 10px;
}

.contactus {
  border-left: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding-left: 10px;
  width: 72px;
  height: 18px;
}

.about {
  padding-right: 10px;
  width: 40px;
  height: 18px;
}

.footer-logo {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding-right: 10px;
  margin-right: 10px;
}

.lower-footer {
  font: normal normal bold 12px/16px Quicksand;
  color: #616161;
  margin: 0 258px 0 259px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: default;
  width: 100%;
  background-color: #E0E1E1;
}
.lower-footer p {
  margin-left: 10px;
  height: 15px;
}

@font-face {
  font-family: Quicksand;
  src: url("../Quicksand-VariableFont_wght.ttf");
}
body {
  font-family: Quicksand;
  background-color: #EEEEEE;
  box-sizing: border-box;
  margin: 0;
}

/* header styling */
.header > img {
  max-width: 20%;
  height: 10%;
}

.hamp {
  display: none;
}

#hamp-menu-id {
  display: none;
}

#alerts-menu-id > div > div > a > img {
  height: 18px;
  width: 15px;
  display: inline;
  background-color: white;
}

#announces-menu-id > div > div > a > img {
  height: 18px;
  width: 15px;
  display: inline;
  background-color: white;
}

.badge1, .badge2, .badge3 {
  position: absolute;
  top: -10px;
  right: 10px;
  border-radius: 50%;
  background-color: #2A7FF3;
  color: white;
  z-index: 2;
  border: none;
  visibility: visible;
}

.badge1 {
  visibility: visible;
}

.badge2 {
  top: -10px;
  right: 10px;
  visibility: visible;
}

.badge3 {
  top: -10px;
  right: 15px;
  background-color: #FFFFFF;
  color: #222222;
}

.alerts, .announcements, .ProfilePicture {
  position: relative;
}

.header {
  /* text-align: center; */
  background-image: url("../images/headerpatternimage.png");
  background-size: cover;
  background-color: rgb(14, 14, 19);
  margin-top: 0;
  display: flex;
  font: normal normal medium 14px/14px;
  text-transform: uppercase;
  color: #3FD28B;
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  position: relative;
}

.up-an {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 5px;
}

.mid-an {
  font-size: 14px;
  padding: 5px;
}

.lw-an {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 5px;
}

#announces-menu-id {
  z-index: 15;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 52px;
  right: 60px;
  width: 315px;
  height: 488px;
  color: #222222;
  background-color: white;
  text-transform: none;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  overflow: hidden;
  overflow-y: scroll;
  display: none;
}

.alerts:hover #alerts-menu-id {
  display: flex;
}

.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 5px;
}

.mid {
  font-size: 12px;
  padding: 5px;
}

.lw {
  align-items: center;
  text-align: right;
  font-size: 12px;
  padding: 5px;
  color: #6E6E6E;
  padding: 5px;
}

.al-1, .al-2, .an-1, .an-2 {
  font-weight: 500;
  background-color: #FFFFEE;
  border: 1px solid rgba(34, 34, 34, 0.1215686275);
  box-sizing: border-box;
}

.al-2, .an-2 {
  background-color: #FFFFFF;
}

.show-all, .create-new {
  color: #1F7A54;
  background-color: #FFFFFF;
  position: sticky;
  border: none;
  width: 100%;
  bottom: 0;
  height: 46px;
  cursor: pointer;
}

.show-all {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
  line-height: 10%;
}

.btns-alt {
  position: sticky;
  height: 46px;
}

.btns-ans {
  display: flex;
}

#alerts-menu-id {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 52px;
  right: 108px;
  width: 315px;
  height: 488px;
  color: #222222;
  background-color: white;
  text-transform: none;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  overflow: auto;
  overflow-y: scroll;
  display: none;
}

#hamp-menu-id a {
  color: #1F7A54;
  text-decoration: none;
  width: 100%;
  text-align: left;
  padding-left: 16px;
}

#hamp-menu-id > a:hover {
  background-color: black;
}

#hamp-menu-id {
  position: absolute;
  top: 40px;
  right: 21px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 288px;
  width: 280px;
  display: none;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
}

#nav-list-id > a {
  text-decoration: none;
  color: #3FD28B;
}

#nav-list-id > a :hover {
  color: white;
  border-bottom: 4px solid #FFFFFF;
  padding: 14px;
}

.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.navbar-logo > a > img {
  margin-right: 20px;
  display: inline;
}

.header > .navbar > ul > a > li {
  display: inline;
  margin-right: 20px;
}

#logo-img {
  margin-right: auto;
  margin-left: 10px;
}

/* Mid division styling */
.Mid-div {
  display: grid;
  grid-Template-columns: 1fr 1fr;
  margin: 2% 8%;
}

/* second division  */
.Second-div {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: #8DDC97;
}

.Course > p, .Classes > p {
  display: inline;
}

.Course {
  border: none;
  border-bottom: 4px solid #222222;
}

.Course, .Classes {
  grid-column: 1/span 1;
  display: flex;
  justify-content: center;
  align-items: default;
}

.Classes {
  grid-column: 2/span 1;
}

.Course > img, .Classes > img {
  margin-right: 10px;
}

b {
  margin-right: 5px;
}

/* Third division styling */
.third-div {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr;
  font: normal normal medium 12px/14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0705882353);
  padding: 1%;
  padding-left: 0;
  padding-right: 0;
}

.third-second {
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
}

.third-second > select {
  margin-right: 2%;
}

select, .third-second > img {
  height: 24px;
}

select {
  width: 30%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0705882353);
  font: normal normal medium 16px/20px;
  background-color: #EEEEEE;
}

/* Forth Division Styling */
.fourth-div {
  grid-column: 1/span2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
}

.One, .Two, .Three, .Four {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font: normal normal medium 12px/16px;
  margin: 2%;
}

.One {
  grid-column: 1/span 1;
}

.Two {
  grid-column: 2/span 1;
}

.Three {
  grid-column: 1/span 1;
}

.Four {
  grid-column: 2/span 1;
}

.One-main, .Two-main, .Three-main, .Four-main {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 5%;
}

.One-details, .Two-details, .Three-details, .Four-details {
  flex-direction: column;
  display: flex;
  justify-content: default;
  align-items: start;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
}

.One-img, .Two-img, .Three-img, .Four-img {
  margin-right: 10%;
}

.One-icons, .Two-icons, .Three-icons, .Four-icons {
  display: flex;
  justify-content: space-between;
  align-items: default;
  margin: 0 5%;
  padding: 3% 3%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.0705882353);
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: default;
}

.Two > .Two-main > .Two-details > .head {
  width: 100%;
}

strong {
  margin-right: 5%;
}

.dull {
  opacity: 0.4;
}

.sb {
  border-right: 1px solid rgba(0, 0, 0, 0.0705882353);
  padding-right: 3%;
}

.head > p {
  width: 70%;
  font: normal normal medium 16px/20px;
  font-weight: bold;
  margin-top: 0;
}

.sub, .Grade, .foot {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.One-details > .head {
  width: 100%;
}

#one-Teacher, #two-Teacher, #three-Teacher, #four-Teacher {
  width: 100%;
  background-color: #FFFFFF;
}

.sub > p, .Grade > p, .foot > p {
  margin-right: 2%;
}

.sub > p > span {
  color: #1F7A54;
  display: inline;
  background-color: #FFFFFF;
  width: 12%;
}

.Grd {
  width: 30%;
}

.expired {
  display: inline;
  color: #D80000;
  background-color: #FFE4E6;
  width: 12%;
  text-transform: uppercase;
  padding: 0.5%;
}

@media (max-width: 804px) and (min-width: 500px) {
  .fourth-div {
    grid-template-columns: 1fr;
    margin-left: 75px;
    margin-right: 75px;
  }
  .Mid-div {
    margin: 2% 5%;
  }
  .One, .Two, .Three, .Four {
    grid-column: 1/span1;
  }
  .navbar > ul {
    display: none;
  }
  .hamp {
    display: block;
    cursor: pointer;
  }
  .navbar {
    position: relative;
  }
  #alerts-menu-id {
    top: 40px;
  }
  #announces-menu-id {
    top: 40px;
    right: 103px;
  }
}
@media (max-width: 499px) {
  .Second-div {
    grid-template-columns: 1fr;
  }
  .lower-footer {
    flex-wrap: wrap;
  }
  .navbar-logo {
    flex-wrap: wrap;
  }
  .third-div {
    grid-template-columns: 1fr;
  }
  .fourth-div {
    grid-template-columns: 1fr;
  }
  .One, .Two, .Three, .Four, .Course, .Classes, .third-second, .third-first {
    grid-column: 1/span1;
  }
  .third-second {
    justify-content: start;
  }
  .One-details, .Two-details, .Three-details, .Four-details {
    font-size: small;
  }
  .navbar > ul {
    display: none;
  }
  .navbar {
    flex-wrap: wrap;
  }
  .hamp {
    display: block;
    cursor: pointer;
  }
  span {
    font-size: small;
  }
}/*# sourceMappingURL=home-style-preprocessor.css.map */