@import "./login-variables";
@import "./login-mixin";
@import "./footer";


@font-face {
    font-family: Quicksand;
    src: url("../Quicksand-VariableFont_wght.ttf");
 }


 body{
    background-color: $bodyBack;
    opacity: 1;
    @include flex(space-between,default);
    @include flexRotate();
    font-family: $fonts;
    box-sizing:border-box;
    margin: 0;
}

// .header>img{
//     max-width: 20%;
//     height: 10%;
// }

.header{
    /* text-align: center; */
    background-image: url("../images/headerpatternimage.png");
    background-size: cover;
    border-bottom:2px solid $headerBorder;
    background-color:$headeBackGround;
    margin-top: 0;
    width: 100%;
    height:47px;
    /* mix-blend-mode: overlay; */
    /* opacity:0.8; */
    img{
        width: 135px;
        height: 26px;
    }
}

.logo-img{
    margin-left:20px;
    @include flex(default,center);
    height: 47px;
}

.login-box{
    margin: 50px auto 30px auto ;
    background-color:$formBack;
    border-top:4px solid $headerBorder ;
   @include flex(default,default);
   @include flexRotate();
    width: 488px;
    height: 584px;
}

// @media only screen and (max-width:300px) {
//     .header,.login-box,.footer{
//         width: 100%;
//     }
//     body{
//         width: 100%;
//     }
//     .footer{
//         margin-bottom: 0px;
//     }
//     .lower-footer{
//         flex-wrap: wrap;
//     }
// }
@media (min-width: 500px) and (max-width: 768px){
    .login-box{
        width: 488px;
        margin: 50px 140px 258px 140px;
    }
}
// @media(min-height:800px)
// {
// .footer{
//     margin-bottom: 0px;
// }
// .login-box{
//     margin: 10%
// }
// form{
//     margin: 10%;
// }
// }


// form > div{
//     margin: 15px;
// }

.heading{
    margin-top: 20px;
    @include flex(start,start);
    h3{
        font: normal normal medium 24px/28px ;
        margin-right: auto; 
        margin-top: 0;
    }
    img{
        margin-right:77px ;
        margin-top: 0;
    }
}

form{
    @include flex(space-around,default);
    @include flexRotate();
    width: 424px;
    font:  normal normal medium;
    margin: 0 32px;
    font: normal normal medium 16px/20px;
}

button{
    width:216px;
    height: 40px;
    @include Displaytype(block);
    background-color: $buttonColor;
    border: none;
    border-radius: 3px;
}

// .heading > img{
//     margin-right:auto ;
// }

// .heading > h3{
//     font: normal normal medium 24px/28px ;
//     margin-right: auto;
// }

input[type='radio'],input[type='checkbox']
{
    accent-color: $inputColor;
    width: 20px;
    height: 20px;
    
}

input[type='password']
{
    background-image: url("../images/preview.svg");
    background-position:right ;
    background-repeat: no-repeat;
    background-size: 22px 15px;
}
.intx{
    
    width: 424px;
    height: 25px;
    border:none;
    border-bottom:1px solid $inputBorder;
    font:  normal normal medium  ;
    color: $courseCol;
}  
.state-div{
    margin-top: 23px;
}
.District-div{
    margin-top: 36px;
}
.mail,.password{
    margin-top: 56px;
    height: 25px;
}
.Remember{
    margin-top: 26px;
}
.forgot{
    margin:0;
    text-transform: uppercase;
    text-align: right;
    color: $inputColor;
    font:  normal normal medium 14px/18px;
}
.submit{
    @include flex(center,center);
    height:78px;
    width:100%; 
    margin-top: 34px;
}
.prev{
    @include Displaytype(inline);
}

