$bodyBack:#EEEEEE;
$formBack:#FFFFFF;
$buttonColor:#3FD28B;
$headerBorder:#3AC7EC;
$inputColor:#1F7A54;
$inputBorder:black;
$cntctus:#0000001F;
$headeBackGround:rgb(14, 14, 19);
$fonts:Quicksand;
$footColor:#00000012;
$footColorD:#616161;
$footBack:#E0E1E1;
$secBack:#8DDC97;
$courseCol:#222222;
$spanColor:#D80000;
$spanBack:#FFE4E6;
$notificationBack:#FFFFEE;
$popCol:#2A7FF3;
$boxShadowcol:#0000003D;
$lightBlack:#6E6E6E;
$light2black:#2222221F;
$light3black:#0000001F ;