<header>
  <img
    src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/logo used in header.svg"
    alt=""
  />
  <div *ngIf="display">
      <img
      
      class="dp"
    src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/ramaDP.jpg"
    alt=""
    (click) = "ShowLogOutTab()"
    />
    <div class="logout-tab" #Logout>
        <p class="UserName-tab">{{UserName}}</p>
        <p class="UserName-button" (click)="LogOut()">{{logOut | uppercase}}</p>
    </div>
</div>
</header>
