@import "./mixin";
header{
    background-color:#1F2834 ;
    height: 56px;
    width: 100%;
    padding: 10.5px 0 9.5px 24px;
    @include flex(space-between,center,default);
    border-bottom: 2px solid #31B9E4;
}
.dp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 16px;
    border: 2px solid #3FD28B;
    cursor: pointer;
}
header >div{
    position: relative;

}
.logout-tab{
    background-color: #31B9E4;
    display: none;
    color: white;
    width: auto;
    padding: 10px;
    position: absolute;
    top:53px;
    right: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: display 1s;
}
