$light-White:#FFFFFF;
$box-shadow-color:#0000003D;
$sky-blue:#3AC7EC;
$light-green: #1F7A54;
$black-twe-opac:#00000012;
$black-font:#222222;
$cement-color:#1F2834;
$light-blue:#3C4E62;
$button-color:#3FD28B;
$lable-color:#666666;
$correct-logo-color:#18BE2E;
$header-tag-color:#DBEFFF;
$hr-color:#EEEEEE;
$left-color:#757575;
