@import "../header/mixin.scss";
@import "../header/variables.scss";
.main-tab{ 
    margin:24px;
    margin-top: 8px;
    border-radius: 2px;
}
form{
    background-color:$light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form div{
    grid-column: 1/span 1;
    color: $lable-color;
    text-transform: capitalize;
    font-size: 12px;
    margin-bottom:40px;
}

input{
    width: 100%;
    line-height: 25px;
    border:none;
    border-bottom: 1px solid $lable-color;
    accent-color: $light-green;
}
.subjects-box div input{
    width: 18px;
    height: 24px;
}
.subjects-box div input[type="text"]{
    width: 100%;
    display: block;
}
.subjects-box div label{
    margin-left:9px;
    color: $black-font;
    font-weight: 600;
    font-size: 16px;
}
.subjects-box div{
    @include flex(start,center,default);
    margin-bottom: 20px;
    margin-top:18px ;
}

form div:nth-child(1),form div:nth-child(3),form div:nth-child(4){
    margin-bottom: 0;
}
.worked-option-box div:nth-child(2){
    margin-bottom: 0;
}
.worked-option-box{
    @include flex(start,center,default);
    margin-bottom: 0;
}
.worked-option-box div{
    @include flex(start,start,default);
    margin-right: 24px;
}
.worked-option-box input{
    width: 18px;
    height: 24px;
}
.worked-option-box label{
    color: $black-font;
    font-size:16px ;
    margin-left: 9px;
    font-weight: 600;
}
.button-tab{
    width: 100%;
    @include flex(center,center,default);
    margin-top: 32px;
}
@include button(5px 16px);

.button-tab button:nth-child(1){
    margin-right: 16px;
}