<div class="main-tab">
    <form #fresherForm = "ngForm">
        <div>
            <label for="subject">Select All The Technologies You Are Familiar In</label>
            <div class="subjects-box">
                <div *ngFor="let item of jobs">
                    <input type="checkbox" [(ngModel)]="item.selected" name="subject" ><label for="">{{item.name}}</label>
                </div>    
            </div>
        </div>

        <div>
            <label for="otherSubject">If others, please mention</label>
            <input type="text" name="otherSubject" ngModel #otherSubject>
        </div>

        <div>
            <label for="workOption">Have You Appeared For Any Test By Zeus in the past 12 months?*</label>
            <div class="worked-option-box">
                <div>
                    <input type="radio" name="workOption"  ngModel><label for="workOption">Yes</label>
                </div>
                <div>
                    <input  type="radio" name="workOption"  ngModel><label for="workOption">No</label>
                </div>
            </div>
        </div>

        <div>
            <label for="roleApplied">If Yes, which role did you apply for?</label>
            <input type="text" name="roleApplied" ngModel #roleApplied>
        </div>
    </form>
   
</div>
