<div class="main-fresher-tab">
    <form #fresherForm = "ngForm">
        <div>
            <label for="subject">Select All The Technologies You Are Familiar In</label>
            <div class="subjects-box">
                <div>
                    <input type="checkbox" #subject name="subject" value="" ><label for="">Javascript</label>
                </div>
                <div>
                    <input type="checkbox" #subject name="subject" value="" ><label for="">Angular JS</label>
                </div>
                <div>
                    <input type="checkbox" #subject name="subject" value="" ><label for="">React</label>
                </div>
                <div>
                    <input type="checkbox" #subject name="subject" value="" ><label for="">Node JS</label>
                </div>
                <div>    
                    <input type="checkbox" #subject name="subject" value="" ><label for="">Others</label>
                </div>
                
            </div>
        </div>

        <div>
            <label for="">If others, please mention</label>
            <input type="text" name="" id="">
        </div>

        <div>
            <label for="">Have You Appeared For Any Test By Zeus in the past 12 months?*</label>
            <div class="worked-option-box">
                <div>
                    <input type="radio" name="" id=""><label for="">Yes</label>
                </div>
                <div>
                    <input type="radio" name="" id=""><label for="">No</label>
                </div>
            </div>
        </div>

        <div>
            <label for="">If Yes, which role did you apply for?</label>
            <input type="text" name="" id="">
        </div>
    </form>
</div>
