
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 500px;
}
i {
  width: 20px;
  height: 20px;
  margin: 0;
}
span {
  margin: 0 24px 0 14px;
}
.main {
  display: flex;
  width: 457px;
  height: 138px;
  justify-content: center;
  align-items: center;
}
img{
  height: 130px;
  width: 130px;
  margin: 0px;
}
.Details-div{
  margin: 0 0 0 14px;
}
.react {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #858991;
  font-weight: 500;
}
.name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 14px 0;
  color: #000;
}
.comment {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0 0 24px 0;
  color: #000;
  font-weight: 400;
}
