@import "../header/mixin.scss";
@import "../header/variables.scss";
.footer{
    position:absolute;
    bottom: 3.82%;
    @include flex(center,default,default);
    flex-wrap: wrap;
    width: 100%;
    
    
}
.footer p{
    padding: 0 18px;
    color: $light-green;
    font-size: calc(9.69px + 0.390625vw);
}
.footer p:nth-child(1)
{
    border: none;
    border-right: 1px solid $black-twe-opac;
    
}
