<app-header></app-header>

<app-create-account
  [id]="createButton"
  [back]="backButton"
></app-create-account>

<div class="main-tab" *ngIf="QualificationList != undefined">
  <div class="status-tab">
    <div class="personal-button">
      <span style="background-color: #3fd28b"
        ><img
          src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg"
          alt=""
      /></span>
      <p>Personal Information</p>
    </div>
    <hr />
    <div class="qualification-button">
      <span style="background-color: #3fd28b">2</span>
      <p>Qualifications</p>
    </div>
    <hr />
    <div class="review-button">
      <span>3</span>
      <p>Review and Proceed</p>
    </div>
  </div>

  <div class="education-qualification-tab">
    <div class="education-qualification-header">
      <h2>Educational Qualifications</h2>
      <div>
        <img
          #dropDown
          src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/drop-down.png"
          alt=""
          (click)="showeduFunc()"
        />
      </div>
    </div>

    <div #educationTab class="education-qualification-form">
      <form #educationQualification="ngForm">
        <div>
          <label for="percentage">Aggregate Percentage*</label>
          <input
            type="text"
            required
            max-length="3"
            pattern="[0-9]+$"
            #percentage="ngModel"
            name="percentage"
            [(ngModel)]="educationData.percentageVal"
            value=""
          />
          <p class="error-msg" *ngIf="percentage.invalid && percentage.touched">
            Enter Percentage*
          </p>
        </div>

        <div class="passing-year-box">
          <label for="passingYear">Year of Passing*</label>
          <select
            name="passingyear"
            required
            #passingYear="ngModel"
            [(ngModel)]="educationData.passingYear"
          >
            <option value="" disabled selected>Select Option</option>
            <option *ngFor="let years of passingYears" [value]="years">
              {{ years }}
            </option>
          </select>
          <p
            class="error-msg"
            *ngIf="passingYear.invalid && passingYear.touched"
          >
            Select passing Year*
          </p>
        </div>

        <div class="two-span-tab">
          <div>
            <label for="qualification">Qualification*</label>
            <select
              name="Qualification"
              #qualification="ngModel"
              required
              [(ngModel)]="educationData.qualification"
            >
              <option value="" disabled selected>Select Option</option>
              <option
                *ngFor="let Qualifications of QualificationList.qualification"
                [value]="Qualifications.qId"
              >
                {{ Qualifications.qualificationName }}
              </option>
            </select>
            <p
              class="error-msg"
              *ngIf="qualification.invalid && qualification.touched"
            >
              Select qualification*
            </p>
          </div>
          <div>
            <label for="stream">Stream*</label>
            <select
              name="Stream"
              #stream="ngModel"
              required
              [(ngModel)]="educationData.stream"
            >
              <option value="" disabled selected>Select Option</option>
              <option
                *ngFor="let Qualifications of QualificationList.stream"
                [value]="Qualifications.sId"
              >
                {{ Qualifications.streamName }}
              </option>
            </select>
            <p class="error-msg" *ngIf="stream.invalid && stream.touched">
              Select stream*
            </p>
          </div>
        </div>

        <div class="two-span-tab">
          <div>
            <label for="college">College*</label>
            <select
              name="collegeName"
              #college="ngModel"
              required
              [(ngModel)]="educationData.college"
            >
              <option value="" disabled selected>Select Option</option>
              <option
                *ngFor="let Qualifications of QualificationList.college"
                [value]="Qualifications.cId"
              >
                {{ Qualifications.collegeName }}
              </option>
            </select>
            <p class="error-msg" *ngIf="stream.invalid && stream.touched">
              Select College*
            </p>
          </div>
          <div>
            <label for="otherCollege"
              >If others, please enter your college name</label
            >
            <input
              style="width: 100%"
              type="text"
              #otherCollege
              name="otherCollege"
              [(ngModel)]="educationData.other"
            />
          </div>
        </div>

        <div>
          <label for="collegeLocation">Where is your college located?*</label>
          <input
            type="text"
            #collegeLocation="ngModel"
            required
            pattern="[a-zA-Z]+$"
            name="collegeLocation"
            [(ngModel)]="educationData.location"
          />
          <p
            class="error-msg"
            *ngIf="collegeLocation.invalid && collegeLocation.touched"
          >
            Enter Your Location*
          </p>
        </div>
      </form>
    </div>
  </div>

  <div class="professional-qualification-tab">
    <div class="professional-qualification-header">
      <h2>Professional Qualifications</h2>
      <div>
        <img
          src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/drop-down.png"
          #proffDropDown
          (click)="showproffFunc()"
          alt=""
        />
      </div>
    </div>
    <div #modeAppTab class="mode-of-apllication-tab">
      <label for="">Applicant Type*</label>
      <div>
        <input
          type="radio"
          #fresher
          [(ngModel)]="educationData.show"
          name="typeOfUser"
          value="Fresher"
        /><label for="fresher">Fresher</label>
        <input
          type="radio"
          #experienced
          name="typeOfUser"
          [(ngModel)]="educationData.show"
          value="Experienced"
          checked
        /><label for="experienced">Experienced</label>
      </div>
    </div>
  </div>
</div>

<div #freTab>
  <ng-container *ngIf="educationData.show === 'Fresher'; else elseBlock">
    <div class="fre-main-tab">
      <form #fresherForm="ngForm" class="fre-form">
        <div>
          <label for="subject"
            >Select All The Technologies You Are Familiar In</label
          >
          <div class="subjects-box">
            <div *ngFor="let item of subjectListFam">
              <input
                type="checkbox"
                [checked]="item.selected"
                (click)="onCheckedFam($event, item.id)"
                name="subject"
              /><label for="">{{ item.name }}</label>
            </div>
          </div>
        </div>

        <div>
          <label for="otherSubject">If others, please mention</label>
          <input
            type="text"
            name="otherSubject"
            [(ngModel)]="experiencedData.otherFam"
            #otherSubject
          />
        </div>

        <div>
          <label for="workOption"
            >Have You Appeared For Any Test By Zeus in the past 12
            months?*</label
          >
          <div class="worked-option-box">
            <div>
              <input
                type="radio"
                name="workOption"
                [(ngModel)]="experiencedData.appeared"
                value="Yes"
              /><label for="workOption">Yes</label>
            </div>
            <div>
              <input
                type="radio"
                name="workOption"
                [(ngModel)]="experiencedData.appeared"
                value="No"
              /><label for="workOption">No</label>
            </div>
          </div>
        </div>

        <div>
          <label for="roleApplied">If Yes, which role did you apply for?</label>
          <input
            type="text"
            name="roleApplied"
            [(ngModel)]="experiencedData.roleApplied"
            #roleApplied
          />
        </div>
      </form>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <div class="exp-main-tab">
      <form #fresherForm="ngForm" class="exp-form">
        <div>
          <label for="yearOfExp">Years of Experience*</label>
          <input
            type="text"
            #yearOfExp="ngModel"
            required
            pattern="[0-9]+$"
            max-legth="3"
            [(ngModel)]="experiencedData.yearOfExperience"
            name="yearOfExp"
          />
          <p class="error-msg" *ngIf="yearOfExp.invalid && yearOfExp.touched">
            Enter Years*
          </p>
        </div>

        <div>
          <label for="currCtc">Current CTC* (In Rupees)</label>
          <input
            type="text"
            name="currCtc"
            #currCtc="ngModel"
            required
            [(ngModel)]="experiencedData.cCTC"
          />
          <p class="error-msg" *ngIf="currCtc.invalid && currCtc.touched">
            Enter Years*
          </p>
        </div>

        <div>
          <label for="expCtc">Expected CTC* (In Rupees)</label>
          <input
            type="text"
            name="expCtc"
            #expCtc="ngModel"
            [(ngModel)]="experiencedData.eCTC"
          />
          <p class="error-msg" *ngIf="expCtc.invalid && expCtc.touched">
            Enter Years*
          </p>
        </div>

        <div>
          <label for="subject"
            >Select All The Technologies You Expertise In*</label
          >
          <div class="subjects-box">
            <div *ngFor="let subjects of subjectListExp">
              <input
                type="checkbox"
                [checked]="subjects.selected"
                (click)="onCheckedExp($event, subjects.id)"
                name="subject"
              /><label for="">{{ subjects.name }}</label>
            </div>
          </div>
        </div>

        <div>
          <label for="otherSubject">If others, please mention</label>
          <input
            type="text"
            [(ngModel)]="experiencedData.otherExp"
            name="otherSubject"
            #otherSubject
          />
        </div>

        <div>
          <label for="subject"
            >Select All The Technologies You Are Familiar In</label
          >
          <div class="subjects-box">
            <div *ngFor="let item of subjectListFam">
              <input
                type="checkbox"
                #subject
                [checked]="item.selected"
                (click)="onCheckedFam($event, item.id)"
                name="subject"
                value=""
              /><label for="">{{ item.name }}</label>
            </div>
          </div>
        </div>

        <div>
          <label for="otherSubject">If others, please mention</label>
          <input
            type="text"
            name="otherSubject"
            [(ngModel)]="experiencedData.otherFam"
            #otherSubject
          />
        </div>

        <div>
          <label for="noticePeriod">Are you currently on notice period?*</label>
          <div class="worked-option-box">
            <div>
              <input
                type="radio"
                [(ngModel)]="experiencedData.onNotice"
                name="noticePeriod"
                #noticePeriod
                value="Yes"
              /><label for="noticePeriod">Yes</label>
            </div>
            <div>
              <input
                type="radio"
                [(ngModel)]="experiencedData.onNotice"
                name="noticePeriod"
                value="No"
              /><label for="noticePeriod">No</label>
            </div>
          </div>
        </div>

        <div>
          <div>
            <label for="endDate"
              >If Yes, when will your notice period end?*</label
            >
            <input
              type="date"
              [(ngModel)]="experiencedData.endDate"
              name="endDate"
              #endDate
            />
          </div>
          <div>
            <label for=""
              >How long is your notice period?* (Mention in months)</label
            >
            <select
              name="notceDuration"
              [(ngModel)]="experiencedData.duration"
              #noticeDuration
            >
              <option value="" disabled selected>Select Option</option>
              <option *ngFor="let item of durationList" [value]="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>

        <div>
          <label for="workOption"
            >Have You Appeared For Any Test By Zeus in the past 12
            months?*</label
          >
          <div class="worked-option-box">
            <div>
              <input
                type="radio"
                name="workOption"
                [(ngModel)]="experiencedData.appeared"
                value="Yes"
              /><label for="">Yes</label>
            </div>
            <div>
              <input
                type="radio"
                name="workOption"
                [(ngModel)]="experiencedData.appeared"
                value="No"
              /><label for="">No</label>
            </div>
          </div>
        </div>

        <div>
          <label for="roleApplied">If Yes, which role did you apply for?</label>
          <input
            type="text"
            name="roleApplied"
            [(ngModel)]="experiencedData.roleApplied"
            #roleApplied
          />
        </div>
      </form>
    </div>
  </ng-template>
</div>
<div class="button-tab">
  <button (click)="navigateFunction()">PREVIOUS</button>
  <button [disabled]="" (click)="addData()">NEXT</button>
</div>
