@import "../header/mixin.scss";
@import "../header/variables.scss";
.main-tab{
    margin: 24px ;
    font-family: Quicksand;
    margin-bottom: 0;
}
.status-tab{
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    @include flex(space-around,center,default);
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 600;
}
.status-tab div{
    @include flex(space-between,center,default);
    flex-wrap: wrap;
    padding: 10px;
}
hr{
    border: none;
    width: 30%;
    height: 0px;
    border:2px solid $hr-color;
}

.status-tab div span{
    background-color: $left-color;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    @include flex(center,center,default);
    flex-wrap: wrap;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 600;
}
.personal-button span{
    background-color: $button-color;
}
.personal-button span img{
    height: 16px;
    width:12px;
}
.education-qualification-tab{
    margin-top: 24px;
}
.education-qualification-header{
    background-color:$header-tag-color;
    box-shadow: 0px 4px 6px $box-shadow-color;
    height: 55px;
    text-align: left;
    @include flex(space-between,center,default);  
}
.education-qualification-header h2,.education-qualification-header div img{
    padding: 16px;
}
.education-qualification-header div {
    padding-left: 10px;
    border-left:1px solid $lable-color;
    height: 100%;
    @include flex(center,center,default); 
}
.education-qualification-form{
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    @include flex(center,start,column); 
}

form{
    padding: 24px;
    width: 100%;
}
.education-qualification-form form div{
    margin-bottom: 40px;
}
.passing-year-box{
    width: 317.4px;
}
.education-qualification-form form div select{
    width: 100%;
    display: block;
    height: 25px;
    border: none;
    border-bottom: 1px solid $lable-color;
}
.education-qualification-form form div input{
    display: block;
    line-height: 25px;
    width: 183.4px;
    border: none;
    border-bottom: 1px solid $lable-color;
}
.two-span-tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.two-span-tab div:nth-child(1)
{
    grid-column: 1 /span 1;
}
.two-span-tab div:nth-child(2)
{
    grid-column: 2 /span 1;
    padding-left: 24px;
    
}
input{
    line-height: 25px;
}

.professional-qualification-tab{
    margin-top: 24px;
}
.professional-qualification-header{
    background-color:$header-tag-color;
    box-shadow: 0px 4px 6px $box-shadow-color;
    height: 55px;
    text-align: left;
    @include flex(space-between,center,default);
}

.professional-qualification-header h2,.professional-qualification-header div img{
    padding: 16px;
}
.professional-qualification-header div {
    padding-left: 10px;
    border-left:1px solid $lable-color;
    height: 100%;
    @include flex(center,center,default);
}
.mode-of-apllication-tab{
    @include flex(center,start,column);
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    height: 100px;
    padding: 24px;
}
.mode-of-apllication-tab label{
    margin-bottom:13px ;
    color: $lable-color;
    font-size: 12px;
}
.mode-of-apllication-tab div label{
    margin-right: 24px;
    margin-left:9px;
    font-size: 20px;
    font-weight: 600;
    color: $black-font;
}
.mode-of-apllication-tab div{
    @include flex(center,default,default);
}
.mode-of-apllication-tab div input{
    height: 24px;
    width: 24px;
    accent-color: $light-green;
}