<div class="main-tab" *ngIf="jobRoleData != undefined && JobName!= undefined" >
    <div class="job-details-head-tab">
        <h3>{{jobRoleData[0].jobRoles}}</h3>
        <div>
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/drop-down.png" #dropDown (click)="showeduFunc()" alt="">
        </div>
    </div>

    <div #preReqTab class="job-details-tab">
        <div class="job-details-compensation-tab">
            <label>gross compensation package :</label>
            <div>
                <p>Rs.</p>
                <p>{{jobRoleData[0].grossCompensation}}</p>
                <p>lpa</p>
            </div>
        </div>
        
        <div  class="rolediscription-tab">
            <label>Role Description :</label>
            <ul class="dashed">
                <li *ngFor="let item of roleDiscription">{{item}}</li>
            </ul>
        </div>
        
        <div class="requirement-tab">
            <label>Requirements :</label>
            <ul class="dashed" >
                <li *ngFor="let item of requirement ">{{item}}</li>
            </ul>
        </div>
    </div>
</div>