<div class="main-tab"  >
    <div class="job-details-head-tab">
        <h3></h3>
        <div>
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/drop-down.png" #dropDown (click)="showeduFunc()" alt="">
        </div>
    </div>

    <div #preReqTab class="job-details-tab">
        <div class="job-details-compensation-tab">
            <label>gross compensation package :</label>
            <div>
                <p>Rs.</p>
                <p></p>
                <p>lpa</p>
            </div>
        </div>
        
        <div  class="rolediscription-tab">
            <label>Role Description :</label>
            <ul class="dashed">
                <li *ngFor="let item of roleDiscription"></li>
            </ul>
        </div>
        
        <div class="requirement-tab">
            <label>Requirements :</label>
            <ul class="dashed" >
                <li *ngFor="let item of requirement "></li>
            </ul>
        </div>
    </div>
</div>