<div class="main-tab">
    <div class="job-details-head-tab">
        <h3>Instructional Designer</h3>
        <div>
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/drop-down.png" alt="">
        </div>
    </div>

    <div class="job-details-tab">
        <div class="job-details-compensation-tab">
            <label>gross compensation package :</label>
            <div>
                <p>Rs.</p>
                <p>5,00,000 </p>
                <p>lpa</p>
            </div>
        </div>
        
        <div  class="rolediscription-tab">
            <label>Role Description :</label>
            <ul class="dashed">
                <li>Generate highly interactive and innovative instructional strategies for e-learning solutions</li>
                <li>Develop course structure and learning specifications addressing the requirements of the target audience</li>
                <li>Construct appropriate testing strategies to ensure learners' understanding and performance</li>
                <li>Address usability issues</li>
                <li>Keep abreast of new trends in e-learning</li>
                <li>Ensure that the instructional strategies are as per global standards</li>
                <li>Prepare instructional design checklists and guidelines</li>
                <li>Check for quality assurance</li>
            </ul>
        </div>
        
        <div class="requirement-tab">
            <label>Role Description :</label>
            <ul class="dashed">
                <li>Experience in creating instructional plans and course maps.</li>
                <li>Experience in the use of media like graphics, illustrations, photographs, audio, video, animations, and simulations in instruction.</li>
                <li>Awareness of different instructional design models and familiarity with instructional and learning theories.</li>
                <li>Awareness of latest trends in e-learning and instructional design - Strong client consulting/interfacing skills.</li>
                <li>Ability to guide clients to focus on specific objectives and teaching points.</li>
                <li>Strong meeting facilitation, presentation and interpersonal skills.</li>
                <li>A thorough understanding of the web as an instructional medium.</li>
                <li>Post graduate degree in Education, Instructional Design, Mass Communication or Journalism.</li>
            </ul>
        </div>
    </div>
</div>