<div class="main-tab">
    <div class="status-tab">
        <div  class="personal-button">
            <span style="background-color: #3FD28B;"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt=""></span>
            <p>Personal Information</p>
        </div>
        <hr />
        <div class="qualification-button">
            <span style="background-color: #3FD28B;"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt=""></span>
            <p>Qualifications</p>
        </div>
        <hr/>
        <div class="review-button">
            <span>3</span>
            <p>Review and Proceed</p>
        </div>
    </div>

    <div class="PersonalInfo-edit-tab">
        <p>Personal Information</p>
        <div>
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt="exit-icon">
            <p>Edit</p>
        </div>
    </div>

    <div class="personal-info-summery">
        <div class="details-tab">
            <div>
                <p>First Name</p>
                <p>John</p>
            </div>
           
            <div>
                <p>Last Name</p>
                <p>Watson</p>
            </div>

            <div>
                <p>Email</p>
                <p>Johnwatson&#64;example.com</p>
            </div>

            <div>
                <p>Phone Number</p>
                <div>
                    <p>+</p>
                    <p>91</p>
                    <p>9876543210</p>
                </div>
            </div>

            <div>
                <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/Upload_black_24dp.svg" alt="">
                <p>Upload Resume</p>
                <p>MyResume.pdf</p>
            </div>

            <div>
                <p>Enter Portfolio URL (if any)</p>
                <p>www.myportfolio.in</p>
            </div>

            <div>
                <p>Preferred Job Roles</p>
                <div>
                    <p>Instructional Designer</p>
                    <p>Software Quality Engineer</p>
                </div>
            </div>

            <div>
                <p>If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</p>
                <p>-</p>
            </div>

            <div>
                <input type="checkbox" checked name="ifNot" #ifNot ><label for="ifNot">Send me job related updates via mail</label>
            </div>
        </div>
        <div class="profile-picture-tab">
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/profilePicture.jpg" alt="">
        </div>
    </div>

    <div class="PersonalInfo-edit-tab">
        <p>Qualifications</p>
        <div>
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt="exit-icon">
            <p>Edit</p>
        </div>
    </div>


    <div class="Qualification-summery">
        <div class="header-tab">
            <p>Educational Qualifications</p>
        </div>
        <div class="education-summery-tab">
                <div>
                    <label>Aggregate Percentage</label>
                    <p>65</p>

                </div>

                <div>
                    <label>Year of Passing</label>
                    <p>2020</p>
                </div>

                <div>
                    <div>
                        <label>Qualification</label>
                        <p>Bachelor in Technology (B.Tech)</p>
                    </div>
                    <div>
                        <label>Stream</label>
                        <p>Information Technology</p>
                    </div>
                </div>

                <div>
                    <div>
                        <label>College</label>
                        <p>Pune Institute of Technology (PIT)</p>
                    </div>
                    <div>
                        <label>If others, please enter your college name</label>
                        <p>-</p>
                    </div>
                </div>

                <div>
                    <label>Where is your college located?</label>
                    <p>Pune</p>
                </div>
                
        </div>

        <div class="header-tab">
            <p>Professional Qualifications</p>
        </div>
        <div class="professional-qualification-type-tab">
            <div>
                <label>Applicant Type</label>
                <p>Experienced</p>
            </div>
        </div>
        <div class="professional-qualification-summery">
            <div>
                <label>Years of Experience</label>
                <p>5</p>
            </div>

            <div>
                <label>Current CTC (In Rupees)</label>
                <p>5,00,000</p>
            </div>

            <div>
                <label>Expected CTC (In Rupees)</label>
                <p>6,50,000</p>
            </div>

            <div>
                <label>Select All The Technologies You Expertise In</label>
                <p>Javascript</p>
                <label>If others, please mention</label>
                <p>-</p>
            </div>

            <div>
                <label>Select All The Technologies You are familiar In</label>
                <p>Angular JS</p>
                <p>React</p>

                <label>If others, please mention</label>
                <p>-</p>
            </div>

            <div>
                <label>Are you currently on notice period?</label>
                <p>Yes</p>
            </div>

            <div>
                <div>
                    <label>If Yes, when will your notice period end?</label>
                    <p>20-May-2020</p>
                </div>
                <div>
                    <label>How long is your notice period? (Mention in months)</label>
                    <p>2 Months</p>
                </div>
            </div>

            <div>
                <label>Have You Appeared For Any Test By Zeus in the past 12 months?</label>
                <p>No</p>
            </div>

            <div>
                <label>If Yes, which role did you apply for?</label>
                <p>-</p>
            </div>
        </div>
    </div>

    <div class="button-tab">
        <button>PREVIOUS</button>
    </div>

</div>