<app-header></app-header>
<app-create-account [id]="createButton" [back]="backButton"  [fresherInfo]="data"  [show]="educationQualificationData.show"></app-create-account>
<div class="main-tab">
    <div class="status-tab">
        <div  class="personal-button">
            <span style="background-color: #3FD28B;"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt=""></span>
            <p>Personal Information</p>
        </div>
        <hr />
        <div class="qualification-button">
            <span style="background-color: #3FD28B;"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt=""></span>
            <p>Qualifications</p>
        </div>
        <hr/>
        <div class="review-button">
            <span style="background-color: #3FD28B;">3</span>
            <p>Review and Proceed</p>
        </div>
    </div>

    <div class="PersonalInfo-edit-tab">
        <p>Personal Information</p>
        <div>
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt="exit-icon">
            <p>Edit</p>
        </div>
    </div>

    <div class="personal-info-summery">
        <div class="details-tab">
            <div>
                <p>First Name</p>
                <p>{{personalData.firstName}}</p>
            </div>
           
            <div>
                <p>Last Name</p>
                <p>{{personalData.lastName}}</p>
            </div>

            <div>
                <p>Email</p>
                <p>{{personalData.Email}}</p>
            </div>

            <div>
                <p>Phone Number</p>
                <div>
                    <p>+</p>
                    <p>{{personalData.countryCode}}</p>
                    <p>{{personalData.phoneNumber}}</p>
                </div>
            </div>

            <div>
                <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/Upload_black_24dp.svg" alt="">
                <p>Upload Resume</p>
                <p>{{personalData.uploadImage}}</p>
            </div>

            <div>
                <p>Enter Portfolio URL (if any)</p>
                <p>{{personalData.portfolio}}</p>
            </div>

            <div>
                <p>Preferred Job Roles</p>
                <div>
                    <p *ngFor="let item of personalData.selectedJob">{{item.name}}</p>
                </div>
            </div>

            <div>
                <p>If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</p>
                <ng-container *ngIf="personalData.reffredPerson != ''; else elseBlock">
                    <p>{{personalData.reffredPerson}}</p>
                </ng-container>
                <ng-template #elseBlock>
                    <p>-</p>
                </ng-template>
            </div>

            <div>
                <input type="checkbox" [checked]="personalData.notification" name="ifNot" #ifNot ><label for="ifNot">Send me job related updates via mail</label>
            </div>
        </div>
        <div class="profile-picture-tab">
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/profilePicture.jpg" alt="">
        </div>
    </div>

    <div class="PersonalInfo-edit-tab">
        <p>Qualifications</p>
        <div>
            <img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/pencile.svg" alt="exit-icon">
            <p>Edit</p>
        </div>
    </div>


    <div class="Qualification-summery">
        <div class="header-tab">
            <p>Educational Qualifications</p>
        </div>
        <div class="education-summery-tab">
                <div>
                    <label>Aggregate Percentage</label>
                    <p>{{educationQualificationData.percentageVal}}</p>

                </div>

                <div>
                    <label>Year of Passing</label>
                    <p>{{educationQualificationData.passingYear}}</p>
                </div>

                <div>
                    <div>
                        <label>Qualification</label>
                        <p>{{educationQualificationData.qualification}}</p>
                    </div>
                    <div>
                        <label>Stream</label>
                        <p>{{educationQualificationData.stream}}</p>
                    </div>
                </div>

                <div>
                    <div>
                        <label>College</label>
                        <p>{{educationQualificationData.college}}</p>
                    </div>
                    <div>
                        <label>If others, please enter your college name</label>
                        <ng-container *ngIf="educationQualificationData.other!=='';else elseBlock">
                            <p>{{educationQualificationData.other}}</p>
                        </ng-container>
                        <ng-template #elseBlock>
                            <p>-</p>
                        </ng-template>
                    </div>
                </div>

                <div>
                    <label>Where is your college located?</label>
                    <p>{{educationQualificationData.location}}</p>
                </div>
                
        </div>

        <div class="header-tab">
            <p>Professional Qualifications</p>
        </div>
        <div class="professional-qualification-type-tab">
            <div>
                <label>Applicant Type</label>
                <p>{{professionalQualificationData?.show}}</p>
            </div>
        </div>
        <div class="professional-qualification-summery">
            <div>
                <label>Years of Experience</label>
                <p>{{professionalQualificationData.yearOfExperience}}</p>
            </div>

            <div>
                <label>Current CTC (In Rupees)</label>
                <p>{{professionalQualificationData.cCTC}}</p>
            </div>

            <div>
                <label>Expected CTC (In Rupees)</label>
                <p>{{professionalQualificationData.eCTC}}</p>
            </div>

            <div>
                <label>Select All The Technologies You Expertise In</label>
                <p *ngFor="let item of professionalQualificationData.techExp ">{{item.name}}</p>
                <label>If others, please mention</label>
                <ng-container *ngIf="professionalQualificationData.otherExp != ''; else elseBlock">
                    <p>{{professionalQualificationData.otherExp}}</p>
                </ng-container>
                <ng-template #elseBlock>
                    <p>-</p>
                </ng-template>
            </div>

            <div>
                <label>Select All The Technologies You are familiar In</label>
                <p *ngFor="let item of professionalQualificationData.techFam">{{item.name}}</p>

                <label>If others, please mention</label>
                <ng-container *ngIf="professionalQualificationData.otherFam != ''; else elseBlock">
                    <p>{{professionalQualificationData.otherFam}}</p>
                </ng-container>
                <ng-template #elseBlock>
                    <p>-</p>
                </ng-template>
            </div>

            <div>
                <label>Are you currently on notice period?</label>
                <p>{{professionalQualificationData.onNotice}}</p>
            </div>

            <div>
                <div>
                    <label>If Yes, when will your notice period end?</label>
                    <p>{{professionalQualificationData.endDate}}</p>
                </div>
                <div>
                    <label>How long is your notice period? (Mention in months)</label>
                    <p>{{professionalQualificationData.duration}}</p>
                </div>
            </div>

            <div>
                <label>Have You Appeared For Any Test By Zeus in the past 12 months?</label>
                <p>{{professionalQualificationData.appeared}}</p>
            </div>

            <div>
                <label>If Yes, which role did you apply for?</label>
                <ng-container *ngIf="professionalQualificationData.roleApplied != ''; else elseBlock">
                    <p>{{professionalQualificationData.roleApplied}}</p>
                </ng-container>
                <ng-template #elseBlock>
                    <p>-</p>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="button-tab">
        <button (click)="navigateFunction()">PREVIOUS</button>
    </div>

</div>