
<div class="mid-tab">
    <div class="form-tab">


        <form #loginForm = "ngForm" >
            <h2>Log in</h2>
            <div class="email-input-box">
                <input type="email"  [(ngModel)]="login_data.email" required email #email="ngModel" placeholder="Email ID*" name="email">
                <p class="error-msg"  *ngIf="email.invalid && email.touched">Enter email*</p>
                <span>FORGOT email id?</span>
            </div>
            <div class="password-input-box">
                <input type="{{showPassword ? 'text':'password'}}" [(ngModel)]="login_data.password" required pattern="[a-zA-Z0-9]+$" #password="ngModel" placeholder="Password*" name="password">
                <button (click)="togglePasswordVisibility()"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/preview.svg" alt=""></button>
                <p class="error-msg"  *ngIf="password.invalid && password.touched">Enter password*</p>
                <span>FORGOT PASSWORD?</span>
            </div>
            <div class="remember-checkbox">
                <input type="checkbox" [(ngModel)]="login_data.remember"  name="rememberBox"><label for="rememberBox">Remember Me</label>
            </div>
            <div class="login-button">
                <button [disabled]="loginForm.invalid" (click)="showData()">LOG IN</button>
            </div>
            <div class="create-register-text">
                <p>Not registered yet?</p>
                <a routerLink="createAccount">CREATE AN ACCOUNT</a>
            </div>
        </form>


    </div>
</div>


