@import "../header/mixin.scss";
@import "../header/variables.scss";
.mid-tab{
        background-color: $light-White;
        box-shadow: 0px 4px 6px $box-shadow-color;
        width: 488px;
        height: 419px;
        box-sizing: border-box;
        margin: 143px 268px 90px 268px;
        border: 1px solid $light-White;
        border-top:4px solid $sky-blue;
}
form{
    padding: 24px;
    @include flex(space-around,default,column);
    height: 419px;
}
form div{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
}
form div span{
    text-transform: uppercase;
    color: $light-green;
    position: absolute;
    right: 0px;
    
}
input{
    line-height: 25px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid $black-twe-opac;
    font-size: 16px;
}
form .password-input-box input{
    background-image: url('../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/preview.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22px 17px;
}


form h2{
    color: $black-font;
    text-align: center;
    letter-spacing: 0px;
    font-weight: medium;
    font-size: 28px;
}
@include button(11px 65px);
.remember-checkbox input{
    display: inline;
    width:18px;
    height: 24px;
    box-sizing: border-box;
    margin:0px;
    background-color: $light-green;
    margin-right: 5px;
}
.remember-checkbox{
    @include flex(default,center,default);
}
.login-button{
    width: 100%;
    @include flex(center,default,default);
}
form .create-register-text{
    @include flex(default,center,column);
    margin-bottom: 4px;
}
form .create-register-text a{
    text-decoration: none;
    color: $light-green;
    font-weight: 600;
}
input[type='checkbox'] {
    accent-color: $light-green ;
}