@import "../header/mixin.scss";
@import "../header/variables.scss";
.create-account-tab{
    background-color:$light-blue ;
    @include flex(space-between,center,default);
    height: 48px;
}
.create-account-tab img{
    margin-left: 24px;
}
.create-account-tab h3{
    color: $light-White;
    letter-spacing: 0px;
    text-transform: capitalize;
}
.create-account-tab div{
    @include flex(space-between,center,default);
    margin-right: 24px;
}
.create-account-tab div button{
    background-color: $button-color;
    color: $cement-color;
    box-shadow: 0px 3px 5px $box-shadow-color;
    border:none;
    margin-left:16px;
    width: 90px;
    height: 22px;
    text-transform: uppercase;
}