<div class="create-account-tab"> 
    <div [ngSwitch]="back">
        <a *ngSwitchCase="'createAccount'" routerLink="/"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/back.svg" alt="back-button"></a>
        <a *ngSwitchCase="'summery'" routerLink="/education"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/back.svg" alt="back-button"></a>
        <a *ngSwitchCase="'education'" routerLink="/createAccount"><img src="../../../assets/WalkInPortal-Icons-ListingtoSuccessflow/back.svg" alt="back-button"></a>
    </div>
    
    <h3>Create an account</h3>
    <div>
        <button (click)="cancelProcess()">CANCEL</button>
        <ng-container *ngIf="id;else elseBlock">
            <button >CREATE</button>
        </ng-container>
        <ng-template #elseBlock>
            <button style="opacity:0.6 ;" [disabled]="id">CREATE</button>
        </ng-template>
        
    </div>
</div>