@import "../header/mixin.scss";
@import "../header/variables.scss";
.create-account-tab{
    background-color:$light-blue ;
    @include flex(space-between,center,default);
    padding-top: 1%;
    padding-bottom: 1%;
}
.create-account-tab >  div{
    margin-left: 2%;
}
.create-account-tab h3{
    color: $light-White;
    letter-spacing: 0px;
    text-transform: capitalize;
}
.create-account-tab div{
    @include flex(space-between,center,default);
    margin-right: 2%;
}
.create-account-tab div button{
    background-color: $button-color;
    color: $cement-color;
    box-shadow: 0px 3px 5px $box-shadow-color;
    border:none;
    margin-left:16px;
    width: calc(85.69px + 0.390625vw);
    height:calc(17.69px + 0.390625vw);
    text-transform: uppercase;
    padding: 5px 12px;
    @include flex(center,center,default);
    cursor: pointer;
}
@media (max-width:400px){
    .create-account-tab{
        flex-wrap: wrap;
        img{
            display: block;
        }
        div{
           flex-wrap: inherit;
        }
    }
}