<app-header></app-header>
<!-- <app-walk-in-home></app-walk-in-home> -->
<!-- <app-card-details></app-card-details> -->
<!-- <app-job-details></app-job-details> -->
<!-- <app-create-account></app-create-account>  -->
<!-- <app-experienced></app-experienced> -->
<!-- <app-footer></app-footer> -->
<!-- <app-fresher></app-fresher> -->
<!-- <app-header></app-header> -->
<!-- <app-login-page></app-login-page> -->
<!-- <app-personal-info></app-personal-info> -->
<!-- <app-personal-info-2></app-personal-info-2> -->
<app-summery></app-summery>
<!-- <app-walk-in-home></app-walk-in-home> -->
<!-- <app-hall-ticket-page></app-hall-ticket-page> -->