@import "../header/mixin.scss";
@import "../header/variables.scss";
.main-tab{
    margin: 24px ;
}
.status-tab{
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    @include flex(space-around,center,default);
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 600;
    
}
.status-tab div{
    @include flex(space-between,center,default);
    flex-wrap: wrap;
    padding: 10px;
}
hr{
    border: none;
    width: 30%;
    height: 0px;
    border:2px solid $hr-color;
}
.status-tab div span{
    background-color: $left-color;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    @include flex(center,center,default);
    flex-wrap: wrap;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 600;
}
.personal-button span{
    background-color: $button-color;
}
.personal-details-tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    margin-top:24px;
    padding: 24px;
}
form{
    @include flex( space-around,start,column);
    flex-wrap: wrap;
    grid-column: 1/span 1;
}
.profile-picture-tab{
    grid-column: 2/span 1;
    @include flex(start,end,column);
    flex-wrap: wrap;
}
.profile-picture-tab div img{
    width: 112px;
    height: 134px;
}
.profile-picture-tab div{
    @include flex(start,center,column);
    flex-wrap: wrap;
}
.profile-picture-tab p:nth-child(1){
    color: $light-green;
    font-size: 12px;
}
.profile-picture-tab p:nth-child(2){
    font-size: 10px;
    color: $left-color;
}

form div{
    width: 100%;
    margin-bottom: 40px;
    font-size: 12px;
    color: $lable-color;
}

form div input{
    width: 100%;
    line-height: 25px;
    border: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.287);
    font-size: 16px;
    color: $black-font;
}
.file-input-box{
    @include flex(start,center,default);
    flex-wrap: wrap;
}
.file-input-box img{
    height:20px ;
    width: 16px;
}
.file-input-box label{
    color: $light-green;
    text-transform: uppercase;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
}
.phone-number-box{
    @include flex(center,center,default);
}
.phone-number-box span{
    color: $black-font;
    font-weight: 600;
}
.phone-number-box input:nth-child(2)
{
    margin-right: 5px;
    width: 10%;
}
.phone-number-box input{
    width: 20%;
}
.prefered-job-box div input{
  accent-color:$light-green ;
  width: 18px;
  height: 24px;
  margin-right: 9px;
}
.prefered-job-box div {
    @include flex(start,center,default);
    flex-wrap: wrap;
    margin-top:18px;
    margin-bottom: 18px;
    font-weight: 600;
    color: $black-font;
    font-size: 16px;
}
.notification-box input{
    accent-color: $light-green;
    width: 18px;
    height: 24px;
    margin-right: 9px;
}
.notification-box{
    @include flex(start,center,default);
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
}
.notification-box label{
    color: $black-font;
}
.next-btn{
    margin-top: 32px;
    margin-bottom: 29px;
    @include flex(center,default,default);
}
@include button(5px 25px);
