@import "../header/mixin.scss";
@import "../header/variables.scss";
.main-tab{
    margin: 2%;
}

.status-tab{
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    @include flex(space-around,center,default);
    font-size: calc(9.69px + 0.390625vw);
    font-weight: 600;
}
.status-tab div{
    @include flex(space-between,center,default);
    // flex-wrap: wrap;
    padding: 10px;
}
hr{
    border: none;
    width: 30%;
    height: 0px;
    border:2px solid $hr-color;
}

.status-tab div span{
    background-color: $left-color;
    height:calc(27.69px + 0.390625vw);
    width: calc(27.69px + 0.390625vw);
    text-align: center;
    border-radius: 50%;
    @include flex(center,center,default);
    margin-right: 8px;
    font-size: calc(11.69px + 0.390625vw);
    font-weight: 600;
}
.personal-button span{
    background-color: $button-color;
}
.personal-button span img{
    height:calc(11.69px + 0.390625vw);
    width:calc(7.69px + 0.390625vw);
}


.personal-details-tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $light-White;
    box-shadow: 0px 4px 6px $box-shadow-color;
    margin-top:2%;
    padding: 2.25%;
}
form{
    @include flex( space-around,start,column);
    flex-wrap: wrap;
    grid-column: 1/span 1;
}
.profile-picture-tab{
    grid-column: 2/span 1;
    @include flex(start,end,column);
}
.profile-picture-tab div img{
    height:calc(107.69px + 0.390625vw);
    width: calc(129.69px + 0.390625vw);
     
}
.profile-picture-tab div{
    @include flex(start,center,column);
    flex-wrap: wrap;
}
.profile-picture-tab p:nth-child(1){
    color: $light-green;
    font-size: calc(7.69px + 0.390625vw);
}
.profile-picture-tab p:nth-child(2){
    font-size: calc(9.69px + 0.390625vw);
    color: $left-color;
}

form > div{
    width: 100%;
    margin-bottom:8.01%;
    font-size: calc(7.69px + 0.390625vw);
    color: $lable-color;
}

form div input{
    width: 100%;
    line-height: 49.019%;
    border: none;
    border-bottom:1px solid #000000;
    font-size: calc(11.69px + 0.390625vw);
    color: $black-font;
}
.file-input-box{
    @include flex(start,center,default);
    flex-wrap: wrap;
    input{
         display: none;
    }
}

.file-input-box label{
    color: $light-green;
    @include flex(start,center,default);
    text-transform: uppercase;
    margin-left: 1.61%;
    font-size: calc(9.69px + 0.390625vw);
    font-weight: 600;
}
.file-input-box img{
    height:calc(20px + 0.390625vw);
    width: calc(16px + 0.390625vw);
    cursor: pointer;
    margin-left: 0;
}
.phone-number-box{
    @include flex(start,center,default);
    margin-bottom: 0;
}
.phone-number-box span{
    color: $black-font;
    font-weight: 600;
}
form div .phone-number-box input:nth-child(2)
{
    margin-right: 1.002%;
    width: 5%;
}
form div .phone-number-box input{
    width: 25%;
}
.prefered-job-box div input{
  accent-color:$light-green ;
  width: 3.607%;
  height: calc(24px + 0.390625vw);
  margin-right: 1.80%;
}
.prefered-job-box div {
    @include flex(start,center,default);
    flex-wrap: wrap;
    margin-top: calc(18px + 0.390625vw);
    margin-bottom:calc(18px + 0.390625vw);
    font-weight: 600;
    color: $black-font;
    font-size: calc(16px + 0.390625vw);
}
.prefered-job-box div:last-child{
    margin-bottom:0 ;
}
.notification-box input{
    accent-color: $light-green;
    width:calc(18px + 0.390625vw);
    height:calc(24px + 0.390625vw);
    margin-right: 1.80%;
}
.notification-box{
    @include flex(start,center,default);
    flex-wrap: wrap;
    font-weight: 600;
    font-size: calc(16px + 0.390625vw);
   
}
.notification-box label{
    color: $black-font;
}
.next-btn{
    margin-top: 2.94%;
    margin-bottom: 2.94%;
    @include flex(center,default,default);
}
.main-tab div:last-child{
    margin-bottom: 0;
}
.error-msg{
        color:red;
        display: block;
        font-size:  calc(7.69px + 0.390625vw)
}
a{
    text-decoration: none;
    color: $cement-color;
}
@include button(5px 25px);

@media (max-width:768px){
    .status-tab{
        flex-wrap: wrap;
        justify-content: space-around;
        .empty{
            display: none;
        }
    }

}
